body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    background-color: #000000;
}

footer{
    background-color: #000000;

}
.hero {
    height: 90vh;
    background: url("images/bgimage.jpg") center/cover no-repeat;

    display: flex;
    align-items: center;     
    justify-content: center; 
    text-align: center;
}
.btn{
    background-color: #007413;
}
.btn:hover{
    background-color:#007413;
}
.mb-5{
    color: #000000;
}
.products-bg {
  background-image: url("images/bgproducts.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.product-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.product-card .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-card img {
    width: 100%;
    height: 580px;     
    object-fit: cover;   
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.contact-bg{
  background-image: url(images/bgimage.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.social-bubble {
    width: 450px;
    margin: 40px auto;
    background: white;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    text-align: center;
}

.social-bubble h3 {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.social-icons .icon img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform .2s ease;
}

.social-icons .icon img:hover {
    transform: scale(1.15);
}


.hero-content h1 {
    color: #ffffff; 
    font-weight: bold;
}

.hero-content p {
    color: #000000; 
    font-size: 1.2rem;
    margin-top: 10px;
}

.feature-card {
    transition: 0.3s;
}

.feature-card:hover {
    transform: translateY(-5px);
}

.product-card {
    transition: 0.3s;
}

.product-card:hover {
    transform: scale(1.03);
}

.about-section img {
    max-height: 350px;
    object-fit: cover;
}
.about-section{
  background-image: url(images/aboutusbg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}